{{!-- <div class="container">
  <div class="searchInput">
    <input type="text" placeholder="Search a city..">
    <div class="resultBox">
    </div>
    <div class="icon"><i class="fas fa-search"></i></div>
  </div>
</div> --}}

{{!-- <label> Find a country:
        <select name="country">
            {{#each FreeStuff}}
            <option value="{{freeStuffDetails.country}}">{{freeStuffDetails.country}}</option>
            {{/each}}
        </select>
    </label> --}}
<section class="cards-shower">
  <div class="grid text-center" "cards">
  <div class="g-col-6 g-col-md-4">
    <h1 class="cardttitle">city</h1>
    <ul>
        <li>First Free stuff</li>
        <li>Second Free stuff</li>
        <li>Third Free stuff</li>
    </ul>
  </div>
  <div class="g-col-6 g-col-md-4" "cards">
    <h1 class="cardttitle">city</h1>
    <ul>
        <li>First Free stuff</li>
        <li>Second Free stuff</li>
        <li>Third Free stuff</li>
    </ul></div>
  <div class="g-col-6 g-col-md-4" "cards">
    <h1 class="cardttitle">city</h1>
    <ul>
        <li>First Free stuff</li>
        <li>Second Free stuff</li>
        <li>Third Free stuff</li>
    </ul></div>
</div>
</section>
