<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <img class="logo hidden-mobile" src="/images/logo.png" alt="logo" />
        <a class="navbar-brand" href="/">The Broke<br /> Globetrotter</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/"
                class="nav-style"
              >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/free-stuffs" class="nav-style">Browse
                all the free stuff</a>
            </li>
            {{#if userDetails}}
              <p class="helloMsg">Hello, </p>
              <a
                class="username"
                href="/user-profile"
              >{{userDetails.username}}</a>
              <form action="/logout" method="POST" class="nav-style">
                <button class="logout">Logout</button>
              </form>
            {{else}}
              <div class="loginlinks">
                <a href="/signup">Register</a>
                <br>
                <br>
                <a href="/login">Login</a>
              </div>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
    <svg
      id="wave"
      style="transform:rotate(180deg); transition: 0.3s"
      viewBox="0 0 1440 100"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    ><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop
            stop-color="rgba(126, 221, 48, 1)"
            offset="0%"
          ></stop><stop
            stop-color="rgba(126, 221, 48, 1)"
            offset="100%"
          ></stop></linearGradient></defs><path
        style="transform:translate(0, 0px); opacity:1"
        fill="url(#sw-gradient-0)"
        d="M0,10L60,21.7C120,33,240,57,360,66.7C480,77,600,73,720,61.7C840,50,960,30,1080,26.7C1200,23,1320,37,1440,40C1560,43,1680,37,1800,28.3C1920,20,2040,10,2160,10C2280,10,2400,20,2520,21.7C2640,23,2760,17,2880,23.3C3000,30,3120,50,3240,50C3360,50,3480,30,3600,30C3720,30,3840,50,3960,61.7C4080,73,4200,77,4320,73.3C4440,70,4560,60,4680,48.3C4800,37,4920,23,5040,21.7C5160,20,5280,30,5400,41.7C5520,53,5640,67,5760,65C5880,63,6000,47,6120,33.3C6240,20,6360,10,6480,11.7C6600,13,6720,27,6840,28.3C6960,30,7080,20,7200,13.3C7320,7,7440,3,7560,16.7C7680,30,7800,60,7920,70C8040,80,8160,70,8280,55C8400,40,8520,20,8580,10L8640,0L8640,100L8580,100C8520,100,8400,100,8280,100C8160,100,8040,100,7920,100C7800,100,7680,100,7560,100C7440,100,7320,100,7200,100C7080,100,6960,100,6840,100C6720,100,6600,100,6480,100C6360,100,6240,100,6120,100C6000,100,5880,100,5760,100C5640,100,5520,100,5400,100C5280,100,5160,100,5040,100C4920,100,4800,100,4680,100C4560,100,4440,100,4320,100C4200,100,4080,100,3960,100C3840,100,3720,100,3600,100C3480,100,3360,100,3240,100C3120,100,3000,100,2880,100C2760,100,2640,100,2520,100C2400,100,2280,100,2160,100C2040,100,1920,100,1800,100C1680,100,1560,100,1440,100C1320,100,1200,100,1080,100C960,100,840,100,720,100C600,100,480,100,360,100C240,100,120,100,60,100L0,100Z"
      ></path></svg>
    {{{body}}}

    <svg
      id="wave"
      style="transform:rotate(0deg); transition: 0.3s"
      viewBox="0 0 1440 100"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    ><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop
            stop-color="rgba(126, 221, 48, 1)"
            offset="0%"
          ></stop><stop
            stop-color="rgba(126, 221, 48, 1)"
            offset="100%"
          ></stop></linearGradient></defs><path
        style="transform:translate(0, 0px); opacity:1"
        fill="url(#sw-gradient-0)"
        d="M0,10L60,21.7C120,33,240,57,360,66.7C480,77,600,73,720,61.7C840,50,960,30,1080,26.7C1200,23,1320,37,1440,40C1560,43,1680,37,1800,28.3C1920,20,2040,10,2160,10C2280,10,2400,20,2520,21.7C2640,23,2760,17,2880,23.3C3000,30,3120,50,3240,50C3360,50,3480,30,3600,30C3720,30,3840,50,3960,61.7C4080,73,4200,77,4320,73.3C4440,70,4560,60,4680,48.3C4800,37,4920,23,5040,21.7C5160,20,5280,30,5400,41.7C5520,53,5640,67,5760,65C5880,63,6000,47,6120,33.3C6240,20,6360,10,6480,11.7C6600,13,6720,27,6840,28.3C6960,30,7080,20,7200,13.3C7320,7,7440,3,7560,16.7C7680,30,7800,60,7920,70C8040,80,8160,70,8280,55C8400,40,8520,20,8580,10L8640,0L8640,100L8580,100C8520,100,8400,100,8280,100C8160,100,8040,100,7920,100C7800,100,7680,100,7560,100C7440,100,7320,100,7200,100C7080,100,6960,100,6840,100C6720,100,6600,100,6480,100C6360,100,6240,100,6120,100C6000,100,5880,100,5760,100C5640,100,5520,100,5400,100C5280,100,5160,100,5040,100C4920,100,4800,100,4680,100C4560,100,4440,100,4320,100C4200,100,4080,100,3960,100C3840,100,3720,100,3600,100C3480,100,3360,100,3240,100C3120,100,3000,100,2880,100C2760,100,2640,100,2520,100C2400,100,2280,100,2160,100C2040,100,1920,100,1800,100C1680,100,1560,100,1440,100C1320,100,1200,100,1080,100C960,100,840,100,720,100C600,100,480,100,360,100C240,100,120,100,60,100L0,100Z"
      ></path></svg>
    <footer id="footer">
      <p>This website was created by:</p>

      <a href="https://www.linkedin.com/in/thomas-augot/" target="”_blank”">
        Thomas Augot
      </a>
      <img
        class="linkedin-img"
        src="/images/linkedin.png"
        alt="linkedin-logo"
      />
      <br /><br />

      <a
        href="https://www.linkedin.com/in/jorge-s%C3%A1nchez-334978250/"
        target="”_blank”"
      >Jorge Sanchez Martin</a>

      <img
        class="linkedin-img"
        src="/images/linkedin.png"
        alt="linkedin-logo"
      />

    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="/js/script.js"></script>
  </body>

</html>