
body {
  padding: 0;
  margin: 0;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(226, 218, 218);
}

a.navbar-brand {
  padding-left: 20px;
}

a.nav-link {
  font-size: 20px;
  margin-left: 30px;
}

a {
  color: black;
  text-decoration: underline;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 50px;
  text-underline-offset: 5px;

}

p {
  font-size: 22px;
  margin-left: 60px;
  margin-right: 30px;
  padding-top: 20px;
  margin-top: 5px;
}

p.helloMsg {
  margin-right: 10px;
}

.container-fluid {
  background: #7edd30;
  padding: 20px 20px;
  margin-top: 0;
}

.navbar {
  --bs-navbar-padding-y: 0;
}

.navbar-brand {
  font-size: 45px;
  margin-left: 2vw;
  color: #1b1b20;
}

.nav-item {
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.nav-link {
  display: inline-block;
  color: black;
  text-decoration: underline;
  text-underline-offset: 5px;
  line-height: 1.6;
}

.navbar-nav {
  --bs-nav-link-padding-x: 0;
}

.loginlinks {
  margin-left: 20vw;
}

p.helloMsg {
  padding-top: 10px;
  padding-right: 0%;
}

.username {
  padding-left: 0;
  padding-bottom: 55px;
}

.logout {
  border: none;
  background-color: #7edd30;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 20px;
}

.navbar-expand-lg .navbar-nav {
  align-items: center;
}

/* Search bar */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

::selection{
  color: #fff;
  background: #664AFF;
}

.container{
  max-width: 450px;
  margin: 50px auto;
}

.container .searchInput{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.searchInput input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.searchInput.active input{
  border-radius: 5px 5px 0 0;
}

.searchInput .resultBox{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.searchInput.active .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.resultBox li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.searchInput.active .resultBox li{
  display: block;
}
.resultBox li:hover{
  background: #efefef;
}

.searchInput .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}

.cards-shower {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.city-container {
  background-image: url("../images/london.jpg");
  z-index: auto;
}
.logo {
  width: 15%;
}

.cards {
  border: solid black;
}


/* USER PROFILE PAGE STYLING */

.user-profile-page-title {
  padding: 40px;
}

.user-profile-page-button {
  padding: 40px;
}

.favorites .contributions {
  padding: 40px 0;
  margin-left: 20px;
}

.carousel {
  margin: 20px 5vw;
  height: auto;
  width: 70%;
  display: flex;
  align-items: center;
  text-align: center;
}

h3 {
  font-weight: 500;
}




#freestuff-list { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 48px;
}
.freestuff-card {
  width: 30%;
  height: 320px;
  margin: 1%;
  overflow: scroll;
  border-radius: 2%;
  padding: 2%;
  border-radius: 40px;
  background: linear-gradient(145deg, #cbc4c4, #f2e9e9);
  box-shadow:  31px 31px 62px #c0b9b9,
             -31px -31px 62px #fffbfb;
}
.freestuff-card p {
  font-size: 20px;
  height: auto;
  margin: 4px;
  width: 95%;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#create-button {
    text-align: center;
    text-decoration: none;
    margin-left: 40%;

}
