<div class="profile">

<h2 class="user-profile-page-title">Welcome, {{userDetails.username}} !</h2>
<section>
  <h3 class="favorites">Your favorites</h3>
 
</section>
<br>
<section>
    <h3 class="contributions">Your contributions</h3>

</section>
<footer>
  <a href="/" class="user-profile-page-button">Main page</a>
</footer>

</div>