<a href="/free-stuffs/create">Create</a>

{{#each freestuff}}
  <section>
    <h2>{{this.location}}</h2>
    <h2>{{this.category}}</h2>
    <div>
        <a href="/free-stuffs/{{_id}}">More details</a>|
      <a href="/free-stuffs/{{_id}}/edit">Edit</a></div>
  </section>
{{/each}}