
<form action="/free-stuffs/{{freeStuffDetails._id}}/edit" method="post" class="forms edit">
<h2>Edit your free stuff</h2>
  <textarea name="city" class="city" cols="30" rows="1">{{freeStuffDetails.city}}</textarea>
  <textarea name="country" class="country" cols="30" rows="1">{{freeStuffDetails.country}}</textarea></h2>

<br>
<br>

  <label>
    Category:
    <select name="category">
      <option value="Museum">Museum</option>
      <option value="Restaurant">Restaurant</option>
      <option value="Bar">Bar</option>
      <option value="Club">Club</option>
      <option value="Sport">Sport</option>
      <option value="Events">Events</option>
      <option value="Transportation">Transportation</option>
      <option value="Other">Other</option>
    </select>
  </label>

<br>
<br>

  <label>
    Description:
    <textarea name="description" class="description" cols="50" rows="6">{{freeStuffDetails.description}}</textarea>
  </label>

<br>
<br>

  <button type="submit" class="submitBtn">Save</button>
</form>